<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gate And Key (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Gate And Key (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Gate And Key (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Gate And Key (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A42F008A2C64A9D78EB0ABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C02353CF27D094D228ACE68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929610705BF1F37712C60A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD779012979D04E49BDB5F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
